@import './globals/helpers';

.home {
  background-color: $dark;
  color: $white;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h3 {
    flex-grow: 1;
  }

  a {
    color: $primary-400;
  }
}
